<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fruits Shop</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

  <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

</head>
<body>
<!--/*@thymesVar id="products" type="java.util.List"*/-->
<!--/*@thymesVar id="product" type="net.javaguides.springboot.model.Product"*/-->
<div class="contain-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">水果攤產品列表</h1>
        </div>

        <div class="panel-body">
          <div class="table-responsive" th:if="${not #lists.isEmpty(product)}">
            <table class="table table-hover">
              <thead class="thread-inverse">
              <tr>
                <th>產品名稱</th>
                <th>售價</th>
                <th>數量</th>
                <th>庫存</th>
              </tr>
              </thead>
              <tr th:remove="all">
                <td>蘋果</td>
                <td>元/顆</td>
                <td><input type="number" placeholder="最多10個" max="10"></td>
                <td><a>1000</a></td>
              </tr>
              <tr th:remove="all">
                <td>香蕉</td>
                <td>元/條</td>
                <td><input type="number" placeholder="最多10個" max="10"></td>
                <td><a>1000</a></td>
              </tr>
              <tr th:each="product:${product}">
                <td th:text="${product.product}">西瓜</td>
                <td th:text="${product.price}">元/每片</td>
                <td><input type="number" placeholder="最多10個" max="10"></td>
                <td th:text="${product.inventory}">1000</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>